---
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import '../styles/components/member-card.scss';

interface Props {
  slug: string;
  name: string;
  avatar: string;
  tagline: string;
  skills: string[];
  locale: 'en' | 'pt-br';
}

const { slug, name, avatar, tagline, skills, locale } = Astro.props;

const memberUrl = locale === 'pt-br'
  ? getRelativeLocaleUrl('pt-br', `membros/${slug}`)
  : getRelativeLocaleUrl('en', `members/${slug}`);
---

<a href={memberUrl} class="member-card">
  <div class="member-avatar">
    <!-- <img src={avatar} alt={name} /> -->
    <Image src={avatar} alt={name} width={100} height={100} class="avatar-image" />
  </div>
  <div class="member-info">
    <h3 class="member-name">{name}</h3>
    <p class="member-tagline">{tagline}</p>
    <div class="member-skills">
      {skills.slice(0, 3).map(skill => (
        <span class="skill-tag">{skill}</span>
      ))}
      {skills.length > 3 && <span class="skill-more">+{skills.length - 3}</span>}
    </div>
  </div>
</a>
