---

import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import '../styles/components/project-card.scss';

interface Props {
  slug: string;
  title: string;
  category: string;
  description: string;
  thumbnail: string;
  year: number;
  status: 'planned' | 'released' | 'wip' | 'jam' | 'archived';
  locale: 'en' | 'pt-br';
}

const { slug, title, category, description, thumbnail, year, status, locale } = Astro.props;

const imagesGlob = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!imagesGlob[thumbnail]) throw new Error(`"${thumbnail}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

const projectUrl = locale === 'pt-br'
  ? getRelativeLocaleUrl('pt-br', `projetos/${slug}`)
  : getRelativeLocaleUrl('en', `projects/${slug}`);

const categoryLabels: Record<'en' | 'pt-br', Record<string, string>> = {
  en: {
    game: 'Game',
    music: 'Music',
    software: 'Software',
    poem: 'Poem',
    art: 'Art',
    collab: 'Collaboration',
    other: 'Other',
  },
  'pt-br': {
    game: 'Jogos',
    music: 'Música',
    software: 'Software',
    poem: 'Poesia',
    art: 'Arte',
    collab: 'Colaboração',
    other: 'Outros',
  },
};

const statusLabels: Record<string, string> = {
  planned: locale === 'pt-br' ? 'Planejado' : 'Planned',
  released: locale === 'pt-br' ? 'Lançado' : 'Released',
  wip: locale === 'pt-br' ? 'Em Desenvolvimento' : 'WIP',
  jam: locale === 'pt-br' ? 'Game Jam' : 'Jam',
  archived: locale === 'pt-br' ? 'Arquivado' : 'Archived',
};
---

<a href={projectUrl} class="project-card" data-category={category} data-status={status}>
  <div class="project-thumbnail">
    <Image src={imagesGlob[thumbnail]()} alt={title} class="project-thumb-image"  />
    <div class="project-badges">
      <span class="badge category">{categoryLabels[locale][category]}</span>
      <span class={`badge status ${status}`}>{statusLabels[status]}</span>
    </div>
  </div>
  <div class="project-info">
    <h3 class="project-title">{title}</h3>
    <p class="project-description">{description}</p>
    <p class="project-year">{year}</p>
  </div>
</a>
